# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
MANIFEST

# Environment variables
.env

# IDEs and editors
.vscode/
.idea/
*.swp

# Python-specific
*.egg
*.egg-info/
*.pytest_cache/
*.coverage
.coverage
nosetests.xml
test.xml
coverage.xml
*.log
*.sqlite3
